[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"

[dev-packages]
jupyterlab = "*"
ipywidgets = "*"
plotly = "*"
cufflinks = "*"
chart-studio = "*"
black = "==20.8b1"
flake8 = "*"

[requires]
python_version = "3.8"
